body{
	background-color:#c599b6;
}
.about{
	background-color: #b2799f;
    width: 100%;
    border: 25px solid green;
    padding: 25px;
}
.newspaper{
	background-color: #9e5b87;
    width: 100%;
	border: 25px solid green;
    padding: 25px;
}
.resume{
	background-color:#9e5b87;
    width: 100%;
    border: 25px solid green;
    padding: 25px;
}
.contact{
	background-color: #9e5b87;
    width: 100%;
    border: 25px solid green;
    padding: 25px;
}
